*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.head {
    background-color: black;
    width: 100%;
    height: 10vh;
    color: aliceblue;
    font-size: 20px;
    position: fixed;
    text-align: center;
}

.main-container {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.main-container.correct {
    --hue: var(--hue-correct);
}

.main-container.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0 0 10px 2px;
}

.indicator {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}


#question,
#score-btn {
    text-align: center;
}

#question {
    font-size: 30px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
    background-color: coral;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: white;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}